@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
            <!------------------------------- Sign up Modal ------------------------------->
            <div class="buttons-container">
                <!-- Trigger/Open The Modal -->
                <button id="myBtnSignup" class="btn btn-primary buttons">Sign up</button>

                <!-- The Modal -->
                <div id="myModalSignup" class="modal">
                    
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="modal-header">
                            <h5 class="modal-title">Sign up</h5>
                        </div>
                    
                        <!-- EditForm for sign up -->
                        <EditForm Model="@userSignup">
                            <div class="modal-body">
                        
                                <!-- Input fields for sign up -->
                                <label for="signup-email">Email:</label><br>
                                <div class="form-group">
                                    <InputText id="signup-email" type="email" placeholder="Email" @bind-Value="userSignup.Email" required /><br><br>
                                </div>
                                
                                <label for="signup-username">Username:</label><br>
                                <div class="form-group">
                                    <InputText id="signup-username" placeholder="Username" @bind-Value="userSignup.Username" required /><br><br>
                                </div>
                                
                                <label for="signup-password">Password:</label><br>
                                <div class="form-group">
                                    <InputText id="signup-password" type="password" placeholder="Password" @bind-Value="userSignup.Password" required /><br><br>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                                <!-- Buttons for sign up -->
                                <input type="submit" class="btn btn-primary" @onclick="HandleSignUp" value="Signup">
                            </div>
                            <p class="error-message" id="signup-error">@errorMessage</p>
                        
                        </EditForm>
                    </div>
                </div>

            <!-------------------------------- Login Modal -------------------------------->
                <!-- Trigger/Open The Modal -->
                <button id="myBtnLogin" class="btn btn-primary buttons">Login</button>

                <!-- The Modal -->
                <div id="myModalLogin" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="modal-header">
                            <h5 class="modal-title">Login</h5>
                        </div>
                        <!-- EditForm for login -->
                        <EditForm Model="@userLogin">
                            <div class="modal-body">
                                <!-- Input fields for login -->
                                <label for="login-username">Username:</label><br>
                                <div class="form-group">
                                    <InputText id="login-username" @bind-Value="userLogin.Username" placeholder="Username" required /><br><br>
                                </div>
                                <label for="login-password">Password:</label><br>
                                <div class="form-group">
                                    <InputText id="login-password" @bind-Value="userLogin.Password" type="password" placeholder="Password" required /><br><br>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- Buttons for login -->
                                <button type="submit" class="btn btn-primary" @onclick="HandleLogin">Login</button>
                            </div>
                            <p class="error-message" id="login-error">@errorMessage</p>
                        </EditForm>
                    </div>
                </div>

            <!----------------------------- Edit Profile Modal ---------------------------->
                <!-- Trigger/Open The Modal -->
                <button id="myBtnEditProfile" class="btn btn-primary buttons">Edit Profile</button>

                <!-- The Modal -->
                <div id="myModalEditProfile" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Profile</h5>
                        </div>
                        <!-- EditForm for edit profile -->
                        <EditForm Model="@userProfile">
                            <div class="modal-body">
                                <!-- Input fields for edit profile -->
                                <label for="edit-username">Username:</label><br>
                                <div class="form-group">
                                    <InputText id="edit-username" @bind-Value="userProfile.Username" placeholder="Username" required /><br><br>
                                </div>
                                <label for="edit-password">Password:</label><br>
                                <div class="form-group">
                                    <InputText id="edit-password" @bind-Value="userProfile.Password" type="password" placeholder="Password" required /><br><br>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- Buttons for edit profile -->
                                <button type="submit" class="btn btn-primary" @onclick="HandleEditProfile">Save Changes</button>
                            </div>
                            <p class="error-message" id="edit-error">@errorMessage</p>
                        </EditForm>
                    </div>
                </div>
            </div>

            <!------------------------------------About ----------------------------------->
        
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
