@page "/"
@using API;
@using API.Models;
@using BlazorApp.Pages;
@using BlazorApp.Containers;
@using System.Threading.Tasks;
@using Syncfusion.Blazor.Charts;
@using Microsoft.AspNetCore.Components.Forms;
@using Syncfusion.Blazor.Charts.Chart.Internal;

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject NavigationManager Navigation
@inject IJSRuntime JS

@namespace BlazorApp.Components.Pages


<PageTitle>Home</PageTitle>

<h1>Home</h1>

<div class="d-flex">
    <!-------------------------------- Create Plant ------------------------------->
    @if (AccountSession.UserSession != null)
    {
        <div>
            <!-- Trigger/Open The Modal -->
            <button id="myBtnCreatePlant" class="btn btn-primary buttons">Create Plant</button>

            <!-- The Modal -->
            <div id="myModalCreatePlant" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <div class="modal-header">
                        <h5 class="modal-title">Create Plant</h5>
                    </div>

                    <!-- EditForm for login -->
                    <EditForm Model="@createPlantProfile">
                        <div class="modal-body">

                            <!-- Input fields for login -->
                            <label for="plantName">Plant Name:</label><br>
                            <div class="form-group">
                                <InputText id="plantName" @bind-Value="createPlantProfile.PlantName" placeholder="Plant Name" required /><br><br>
                            </div>

                            <label for="plantMinMoisture">Plant Minimum Moisture:</label><br>
                            <div class="form-group">
                                <InputNumber id="plantMinMoisture" @bind-Value="createPlantProfile.MinWaterLevel" placeholder="Minimum Moisture:" required /><br><br>
                            </div>

                            <label for="plantMaxMoisture">Plant Maximum Moisture:</label><br>
                            <div class="form-group">
                                <InputNumber id="plantMaxMoisture" @bind-Value="createPlantProfile.MaxWaterLevel" placeholder="Maximum Moisture:" required /><br><br>
                            </div>

                        </div>

                        <div class="modal-footer">
                            @if (createPlantProfile.PlantName == null || createPlantProfile.MinWaterLevel == 0 || createPlantProfile.MaxWaterLevel == 0)
                            {
                                <!-- Buttons for login -->
                                <button disabled type="submit" class="btn btn-primary" @onclick="HandleCreatePlant">Submit</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary" @onclick="HandleCreatePlant">Submit</button>
                            }
                        </div>

                        <p class="error-message" id="login-error">@errorMessageCreatePlant</p>

                    </EditForm>
                </div>
            </div>
        </div>
    }
    <!--------------------------------- Edit Plant -------------------------------->
    @if (AccountSession.UserSession != null)
    {
        <div>
            <!-- Trigger/Open The Modal -->
            <button id="myBtnEditPlant" class="btn btn-primary buttons">Edit Plant</button>

            <!-- The Modal -->
            <div id="myModalEditPlant" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <div class="modal-header">
                        <h5 class="modal-title">Edit Plant</h5>
                    </div>

                    <!-- EditForm for login -->
                    <EditForm Model="@plantProfile">
                        <div class="modal-body">
                            <p>selected plant: @selectedEditPlant</p>
                            <!-- Input fields for login -->
                            <div class="dropdown">

                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <text>Choose Plant</text>
                                </button>

                                <ul class="dropdown-menu">
                                    @if (Useronlyplants != null && Useronlyplants.Count > 0)
                                    {
                                        @foreach (var plant in Useronlyplants)
                                        {
                                            <li><button class="dropdown-item" @onclick="() => SelectEditPlant(plant)">@plant.PlantName</button></li>
                                        }
                                    }
                                    else
                                    {
                                        <li><span class="dropdown-item">No plants made</span></li>
                                    }
                                </ul>

                            </div>
                            <label for="editplantName">Plant Name:</label><br>
                            <div class="form-group">
                                <InputText id="editplantName" @bind-Value="plantProfile.PlantName" required /><br><br>
                            </div>

                            <label for="plantMinMoisture">Plant Minimum Moisture:</label><br>
                            <div class="form-group">
                                <InputNumber id="plantMinMoisture" @bind-Value="plantProfile.MinWaterLevel" placeholder="Minimum Moisture:" required /><br><br>
                            </div>

                            <label for="plantMaxMoisture">Plant Maximum Moisture:</label><br>
                            <div class="form-group">
                                <InputNumber id="plantMaxMoisture" @bind-Value="plantProfile.MaxWaterLevel" placeholder="Maximum Moisture:" required /><br><br>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" @onclick="HandleEditPlant">Save Changes</button>
                            <button type="submit" class="btn btn-primary" @onclick="HandlePlantDelete" style="background-color:red;">Delete plant</button>
                        </div>

                        <p class="error-message" id="login-error">@errorMessageEditPlant</p>
                        <p class="error-message" id="login-error">@errorMessageDeletePlant</p>

                    </EditForm>
                </div>
            </div>
        </div>
    }
    <!-------------------------------- Setup Sensor ------------------------------->
    <!-------------------------------- make put request in settings then we change plant name in setup sensor ------------------------------->
    @if (AccountSession.UserSession != null)
    {
        <div>
            <!-- Trigger/Open The Modal -->
            <button id="myBtnSetupSensor" class="btn btn-primary buttons">Setup Sensor</button>

            <!-- The Modal -->
            <div id="myModalSetupSensor" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <div class="modal-header">
                        <h5 class="modal-title">Setup Sensor</h5>
                    </div>

                    <div class="d-flex">
                        @if (isEditingSensorName1)
                        {
                            <input type="text" @bind="sensorName1" class="form-control" />
                            <button class="btn btn-success" @onclick="PutSensorNames">Save</button>
                            <button class="btn btn-secondary" @onclick="CancelEditSensorName1">Cancel</button>
                        }
                        else
                        {
                            <h3>Sensor name 1: </h3>
                            <h3 style="margin: 0 0 0 10px;">@sensorName1</h3>
                            <img class="editIcon" src="https://static.vecteezy.com/system/resources/thumbnails/019/552/591/small/sign-up-icon-signup-square-box-on-transparent-background-free-png.png" @onclick="EditSensorName1" style="cursor:pointer;" />
                        }
                    </div>

                    <div class="d-flex">
                        @if (isEditingSensorID1)
                        {
                            <input type="text" @bind="sensorID1" class="form-control" />
                            <button class="btn btn-success" @onclick="PutSensorID">Save</button>
                            <button class="btn btn-secondary" @onclick="CancelEditSensorID1">Cancel</button>
                        }
                        else
                        {
                            <p>Enter Sensor id 1: </p>
                            <p>@sensorID1</p>
                            <img class="editIcon" src="https://static.vecteezy.com/system/resources/thumbnails/019/552/591/small/sign-up-icon-signup-square-box-on-transparent-background-free-png.png" @onclick="EditSensorID1" style="cursor:pointer;" />
                        }
                    </div>
                    <p>current plant: @current1plant</p>
                    <p>selected plant: @selectedPlant1</p>

                    <div class="dropdown">

                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <text>Choose Plant</text>
                        </button>

                        <ul class="dropdown-menu">
                            @if (plants != null)
                            {
                                @foreach (var plant in plants)
                                {
                                    <li><button class="dropdown-item" @onclick=" ()=> SelectPlant1(plant)">@plant.PlantName</button></li>
                                }
                            }
                            else
                            {
                                <li><span class="dropdown-item">Loading...</span></li>
                            }
                        </ul>

                    </div>

                    <div class="d-flex">
                        @if (isEditingSensorName2)
                        {
                            <input type="text" @bind="sensorName2" class="form-control" />
                            <button class="btn btn-success" @onclick="PutSensorNames">Save</button>
                            <button class="btn btn-secondary" @onclick="CancelEditSensorName2">Cancel</button>
                        }
                        else
                        {
                            <h3>Sensor name 2: </h3>
                            <h3 style="margin: 0 0 0 10px;">@sensorName2</h3>
                            <img class="editIcon" src="https://static.vecteezy.com/system/resources/thumbnails/019/552/591/small/sign-up-icon-signup-square-box-on-transparent-background-free-png.png" @onclick="EditSensorName2" style="cursor:pointer;" />
                        }
                    </div>
                    <div class="d-flex">
                        @if (isEditingSensorID2)
                        {
                            <input type="text" @bind="sensorID2" class="form-control" />
                            <button class="btn btn-success" @onclick="PutSensorID">Save</button>
                            <button class="btn btn-secondary" @onclick="CancelEditSensorID2">Cancel</button>
                        }
                        else
                        {
                            <p>Enter Sensor id 2: </p>
                            <p>@sensorID2</p>
                            <img class="editIcon" src="https://static.vecteezy.com/system/resources/thumbnails/019/552/591/small/sign-up-icon-signup-square-box-on-transparent-background-free-png.png" @onclick="EditSensorID2" style="cursor:pointer;" />
                        }
                    </div>
                    <p>current plant: @current2plant</p>
                    <p>selected plant: @selectedPlant2</p>

                    <div class="dropdown">

                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <text>Choose Plant</text>
                        </button>

                        <ul class="dropdown-menu">
                            @if (plants != null)
                            {
                                @foreach (var plant in plants)
                                {
                                    <li><button class="dropdown-item" @onclick="() => SelectPlant2(plant)">@plant.PlantName</button></li>
                                }
                            }
                            else
                            {
                                <li><span class="dropdown-item">Loading...</span></li>
                            }
                        </ul>

                    </div>
                    <p class="error-message" id="login-error">@errorMessage</p>
                    <div class="modal-footer">
                        <!-- Buttons for login -->
                        <button type="submit" class="btn btn-primary" @onclick="PutSelectedPlants">Save Changes</button>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        </div>
    }
    <!-------------------------------- Arduino settings ------------------------------->
    @if (AccountSession.UserSession != null)
    {
        <div>
            <!-- Trigger/Open The Modal -->
            <button id="myBtnSettings" class="btn btn-primary buttons">Arduino Settings</button>

            <!-- The Modal -->
            <div id="myModalSettings" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>

                    <div class="modal-header">
                        <h5 class="modal-title">Arduino Settings</h5>
                    </div>

                    <div class="d-flex justify-content-center text-center">
                        <div class="w-100 ">
                            <p>Auto</p>
                            <label class="switch">
                                <input type="checkbox" checked="@mode.AutoMode" @onclick="Toggle">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>

                    <p class="error-message" id="login-error">@errorMessage</p>
                    <div class="modal-footer">
                        <!-- Buttons for login -->
                        <button type="submit" class="btn btn-primary" @onclick="PutModeState">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-------------------------------- Modal Script ------------------------------->

<script>
    var modals = document.querySelectorAll('.modal');
    var buttons = document.querySelectorAll('.btn-primary.buttons');
    var spans = document.querySelectorAll('.close');

    buttons.forEach(function (button, index) {
        button.addEventListener('click', function () {
            modals[index].style.display = "block";
            errorMessage = "";
        });
    });

    spans.forEach(function (span, index) {
        span.addEventListener('click', function () {
            modals[index].style.display = "none";
            errorMessage = "";
        });
    });

    window.onclick = function (event) {
        modals.forEach(function (modal) {
            if (event.target == modal) {
                modal.style.display = "none";
                errorMessage = "";
            }
        });
    }

    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = "none";
        }
    }
</script>

<!--------------------------------- Plant Code -------------------------------->

@code {
    private string selectedPlant1 = "";
    private string selectedPlant2 = "";
    private string selectedEditPlant = "";
    private int selectedEditPlantId = 0;
    private string sensorName1 = "";
    private string sensorName2 = "";
    private int sensorID1;
    private int sensorID2;
    private bool isEditingSensorName1 = false;
    private bool isEditingSensorName2 = false;
    private bool isEditingSensorID1 = false;
    private bool isEditingSensorID2 = false;
    private int settingsId; // Store settings ID
    private string? originalSensorName1; // To store the original value
    private string? originalSensorName2; // To store the original value
    private int originalSensorID1;
    private int originalSensorID2;
    private string? current1plant;
    private string? current2plant;

    protected override async Task OnInitializedAsync()
    {
        await GetListOfPlants(); // This method should populate the 'plants' list
        await GetListOfSettings();
    }

    private void SelectedSensorName1(PutSettings name)
    {
        sensorName1 = name.Sensor1Name;
    }

    private void SelectedSensorName2(PutSettings name)
    {
        sensorName2 = name.Sensor2Name;
    }

    private void SelectPlant1(Plant plant)
    {
        selectedPlant1 = plant.PlantName;
    }

    private void SelectPlant2(Plant plant)
    {
        selectedPlant2 = plant.PlantName;
    }

    private void SelectEditPlant(Plant plant)
    {
        selectedEditPlant = plant.PlantName;
        selectedEditPlantId = plant.Id;
    }

    private void EditSensorName2()
    {
        isEditingSensorName2 = true;
        
    }

    private void CancelEditSensorName2()
    {
        isEditingSensorName2 = false;
        sensorName2 = originalSensorName2; // Revert to the original value
    }

    private void EditSensorName1()
    {
        isEditingSensorName1 = true;
    }

    private void CancelEditSensorName1()
    {
        isEditingSensorName1 = false;
        sensorName1 = originalSensorName1; // Revert to the original value
    }

    private void EditSensorID1()
    {
        isEditingSensorID1 = true;
    }

    private void CancelEditSensorID1()
    {
        isEditingSensorID1 = false;
        sensorID1 = originalSensorID1; // Revert to the original value
    }

    private void EditSensorID2()
    {
        isEditingSensorID2 = true;
    }

    private void CancelEditSensorID2()
    {
        isEditingSensorID2 = false;
        sensorID2 = originalSensorID2; // Revert to the original value
    }
}

